<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSetting>
		<add key="ConnectionBD" value="Data Source=.\\SQLEXPRESS;Initial Catalog=Prueba;Integrated Security=true"/>
	</appSetting>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>